In [19]:
import pandas as pd

In [20]:
df=pd.read_csv(r"C:\Users\joshd\Downloads\Religion by constituency.csv")

In [21]:
df.head(10)

,Post-2019 Westminster Parliamentary constituencies Code,Post-2019 Westminster Parliamentary constituencies,Religion (10 categories) Code,Religion (10 categories),Observation
0,E14001063,Aldershot,-8,Does not apply,0
1,E14001063,Aldershot,1,No religion,45077
2,E14001063,Aldershot,2,Christian,50736
3,E14001063,Aldershot,3,Buddhist,4957
4,E14001063,Aldershot,4,Hindu,6054
5,E14001063,Aldershot,5,Jewish,79
6,E14001063,Aldershot,6,Muslim,2619
7,E14001063,Aldershot,7,Sikh,258
8,E14001063,Aldershot,8,Other religion,1333
9,E14001063,Aldershot,9,Not answered,6317

In [22]:
df.rename(columns={'Religion (10 categories)':'Religion', 'Religion (10 categories) Code':'ReligionCode','Post-2019 Westminster Parliamentary constituencies':'ConstituencyName','Post-2019 Westminster Parliamentary constituencies Code':'ConstituencyCode' },inplace=True)

In [23]:
df.head(5)

  ConstituencyCode ConstituencyName  ReligionCode        Religion  Observation
0        E14001063        Aldershot            -8  Does not apply            0
1        E14001063        Aldershot             1     No religion        45077
2        E14001063        Aldershot             2       Christian        50736
3        E14001063        Aldershot             3        Buddhist         4957
4        E14001063        Aldershot             4           Hindu         6054

In [25]:
total=df.groupby("ConstituencyCode").Observation.sum()
total.head(5)

ConstituencyCode
E14001063    117430
E14001064     93606
E14001065    100924
E14001066     90320
E14001067     97176
Name: Observation, dtype: int64

In [56]:
muslim=df.loc[df.Religion=='Muslim'].iloc[:,[0,4]]
muslim.head(5)

   ConstituencyCode  Observation
6         E14001063         2619
16        E14001064         2063
26        E14001065         6465
36        E14001066          219
46        E14001067          256

In [82]:
percentage=(muslim.Observation/total.values)*100
percentagebycon=pd.concat([percentage,muslim.ConstituencyCode,df.ConstituencyName],axis=1)
percentagebycon=percentagebycon.iloc[0:575]
percentagebycon.head(5)

    Observation ConstituencyCode          ConstituencyName
6      2.230265        E14001063                 Aldershot
16     2.203919        E14001064       Aldridge-Brownhills
26     6.405810        E14001065  Altrincham and Sale West
36     0.242471        E14001066              Amber Valley
46     0.263440        E14001067   Arundel and South Downs

In [83]:
percentagebycon.to_csv(r"C:\Users\joshd\Downloads\Muslim%_Constituency.csv",index=False)